<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="link_cyl" params="name mass r l origin_rpy origin_xyz">
        <link name="${name}">
            <inertial>
              <mass value="${mass}"/>
              <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
              <inertia ixx="${mass*(3*r*r+l*l)/12}" ixy = "0" ixz = "0" iyy="${mass*(3*r*r+l*l)/12}" iyz = "0" izz="${mass*(r*r)/2}" />
            </inertial>
            <collision name="${name}_collision">
              <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
              <geometry>
                <cylinder length="${l}" radius="${r}"/>
              </geometry>
            </collision>
            <visual name="${name}_visual">
              <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
              <geometry>
                <cylinder length="${l}" radius="${r}"/>
              </geometry>
            </visual>
        </link>
    </xacro:macro>
 
    <xacro:macro name="joint_cyl" params="name parent child origin_rpy origin_xyz axis_rpy axis_xyz type">
      <joint name="${name}" type="${type}">
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
        <child link="${child}"/>
        <parent link="${parent}"/>
        <axis rpy="${axis_rpy}" xyz="${axis_xyz}"/>
        <limit effort="10000" velocity="1000"/>
      </joint>
    </xacro:macro> 
</robot>
