<?xml version="1.0" ?>
<robot name="yudhaan" xmlns:xacro="http://wiki.ros.org/xacro" >
 
  <!-- include the xacro files-->  
  <xacro:include filename="$(find yudhaan_robot)/yudhaan_description/urdf/yudhaan.materials.xacro" />
  <xacro:include filename="$(find yudhaan_robot)/yudhaan_description/urdf/yudhaan.gazebo.xacro" />
  <xacro:include filename="$(find yudhaan_robot)/yudhaan_description/urdf/yudhaan.macro.xacro" />
  <xacro:include filename="$(find yudhaan_robot)/yudhaan_description/urdf/yudhaan.transmission.xacro" />

  <!-- Chasis defined here -->
  <xacro:link_cyl name="link_chassis" mass="30.0" r="0.3" l="0.1" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.0" />
   
  <!-- Create wheel right -->   
  <xacro:link_cyl name="link_right_wheel" mass="3.0" r="0.1" l="0.06"  origin_rpy="0.0 1.5707 1.5707" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_right_wheel"  parent="link_chassis"  child="link_right_wheel"  origin_rpy="0.0 0.0 0.0"  origin_xyz="0.0 -0.3 0" axis_rpy="0 0 0" axis_xyz="0 1 0" type="continuous"/> 
 
  <!-- Create wheel left -->
  <xacro:link_cyl name="link_left_wheel" mass="3.0" r="0.1" l="0.06" origin_rpy="0.0 1.5707 1.5707" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_left_wheel"  parent="link_chassis"  child="link_left_wheel"  origin_rpy="0.0 0.0 0.0"  origin_xyz="0.0 0.3 0" axis_rpy="0 0 0" axis_xyz="0 1 0" type="continuous" /> 

  <!-- Create support front -->
  <xacro:link_cyl name="link_front_support" mass="0.0" r="0.025" l="0.05" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_front_support"  parent="link_chassis"  child="link_front_support"  origin_rpy="0.0 0.0 0.0"  origin_xyz="0.275 0.0 -0.075" axis_rpy="0 0 0" axis_xyz="0 0 0" type="fixed" /> 

  <!-- Create support rear -->
  <xacro:link_cyl name="link_rear_support" mass="0.0" r="0.025" l="0.05" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_rear_support"  parent="link_chassis"  child="link_rear_support"  origin_rpy="0.0 0.0 0.0"  origin_xyz="-0.275 0.0 -0.075" axis_rpy="0 0 0" axis_xyz="0 0 0" type="fixed" /> 

<!-- Create robot support-->
  <xacro:link_cyl name="robot_support" mass="0.0" r="0.1" l="0.06" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_robot_support"  parent="link_chassis"  child="robot_support"  origin_rpy="0.0 0.0 0.0"  origin_xyz="0.0 0.0 0.075" axis_rpy="0 0 0" axis_xyz="0 0 0" type="fixed" />


  <!-- Create laser sensor -->
  <xacro:link_cyl name="sensor_laser" mass="0.0" r="0.04" l="0.05" origin_rpy="0.0 0.0 0.0" origin_xyz="0.0 0.0 0.0" />
  <xacro:joint_cyl name="joint_sensor_laser"  parent="link_chassis"  child="sensor_laser"  origin_rpy="0.0 0.0 0.0"  origin_xyz="0.25 0.0 0.075" axis_rpy="0 0 0" axis_xyz="0 0 0" type="fixed" />
 
</robot>

